$blue: #76d0eb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  position: relative;
}

a {
  text-decoration: none;
  color: $blue;
}

ol li {
  margin-bottom: 10px;
}

.non-mobile {
  display: block;
}

.mobile-only {
  display: none;
}

.title {
  text-align: center;
  display: block;
  margin: 24px auto;
}

.button {
  border: 2px solid lighten(black, 50%);
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 24px;
  transition: all 0.3s;

  a {
    color: lighten(black, 50%);
    font-weight: 400;
  }

  &:active {
    background-color: $blue;
    color: white;
  }

  &:hover {
    background-color: $blue;
    border-color: darken($blue, 15%);
    cursor: pointer;

    & a {
      color: white;
    }
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  font-weight: 300;
  padding: 5px 15px;
}

.logo {
  margin-top: 0;
  margin-left: 25px;

  a {
    color: white;
  }
}

#splash {
  width: 100%;
  padding: 5% 0;
  background: $blue url('../images/skulls-blue.png');

  img {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
  }
}

#picture {
  margin: 0 auto;
}

#about, #how {
  padding: 1.5em 1em;
}

#how {
  background-color: rgb(140, 140, 140);
  color: white;
}

#how-presentation {
  overflow: hidden;
}

// mid to large screens
@media screen and (min-width: 1200px) {
  #how {

    h1 {
      margin-bottom: 5%;
    }

    ul {
      list-style: none;
      font-size: 1.2em;
      font-weight: 400;

      li {
        margin-bottom: 10%;

        &.shown {
          color: green;
        }

        &:nth-child(odd) {
          // transform: translateX(-150%);
        }

        &:nth-child(even) {
          text-align: right;
          // transform: translateX(150%);
        }
      }
    }
  }
}

// phones
@media screen and (max-width: 375px) and (orientation: portrait) {
  .non-mobile {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  #splash .mobile-only a {
    color: white;
  }
}
