body {
  position: relative;
  height: 100vh;
  background-color: #4fa2d7;
  font-family: Roboto; }

#screen {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 480px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  font-weight: 300;
  background: #303030 url("../images/large_leather.png");
  position: relative;
  overflow: hidden; }

#window-menu-bar {
  width: 100%;
  background-color: #d0d0d0;
  padding: 2px 5px; }
  #window-menu-bar button {
    border-radius: 50%;
    color: #303030;
    background: none;
    border: none;
    width: 10px;
    height: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    border: 1px solid; }

button#close {
  background-color: tomato;
  border-color: #f92600; }

button#minimize {
  background-color: #ffea5c;
  border-color: #ffe010; }

button#maximize {
  background-color: #47d084;
  border-color: #29a15f; }

/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; }

html, body {
  height: 100%;
  overflow: hidden; }

button {
  font-family: 'Roboto'; }

h1, h2, h3, h4 {
  font-weight: 100; }

a {
  color: white;
  text-decoration: none; }

ul {
  list-style: none; }

.active {
  background-color: #CF155B; }

@keyframes slidein {
  from {
    transform: translateX(200%); } }

.album-art.large {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .album-art.large img {
    width: 50%; }

.album-art.small {
  width: 124px;
  display: inline-block; }

#content {
  height: 100%; }
  #content .clock {
    font-size: 1.2em;
    margin-bottom: 50px; }

.clock {
  text-align: center; }

#status-bar {
  text-align: center;
  position: relative;
  z-index: 50;
  top: 0;
  left: 0;
  padding: 5px 0;
  opacity: 0; }
  #status-bar .clock {
    display: inline-block; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.window {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0c0c0c;
  width: 100%;
  height: 100%;
  animation-name: slidein;
  animation-duration: 0.2s; }

#bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px; }

#player {
  width: 100%;
  background-color: #252525;
  position: absolute;
  bottom: -480px;
  left: 0;
  transition: all 0.2s; }
  #player .wrap {
    position: relative;
    width: 100%;
    height: 100%; }
  #player.show-large-player {
    bottom: 0; }
  #player .background-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    #player .background-image img {
      width: 100%;
      -webkit-filter: blur(20px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%); }

.player-toggle {
  padding: 5px; }
  .player-toggle svg {
    fill: white; }

.timecode {
  padding: 10px 5px;
  position: absolute; }

#open-player {
  width: 35px;
  height: 100%;
  margin-left: auto;
  transform: rotate(90deg); }

#close-player {
  position: absolute;
  top: 15px;
  right: 15px; }
  #close-player svg {
    width: 18px; }

#small-player {
  height: 40px;
  position: relative;
  font-size: 0.7em;
  z-index: 2; }
  #small-player .scrub-wrap {
    height: 2px;
    width: 100%;
    background-color: #4b4b4b; }
    #small-player .scrub-wrap .scrubber {
      height: 100%;
      width: 0;
      background-color: #CF155B; }
  #small-player .start-time {
    left: 10px;
    top: 5px; }
  #small-player .end-time {
    right: 10px;
    top: 5px; }
  #small-player .controls {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10%; }
  #small-player .player-button {
    height: 100%; }
    #small-player .player-button svg {
      width: 12px; }
    #small-player .player-button:active {
      background-color: #CF155B; }

#large-player {
  position: relative;
  height: 480px;
  width: 100%;
  padding: 25px 0 0 0;
  overflow: hidden; }
  #large-player .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    #large-player .background-image img {
      width: 100%;
      -webkit-filter: blur(20px);
      transform: none;
      top: 0;
      left: 0; }
  #large-player .player-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px 0 0 0; }
    #large-player .player-content .album-art img {
      box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5); }
  #large-player .large-controls {
    width: 100%;
    padding: 5px 0;
    background-color: #252525;
    position: absolute;
    bottom: 0;
    left: 0; }
  #large-player .player {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15px);
    position: relative; }
  #large-player .timecode {
    font-size: 0.7em; }
  #large-player .start-time {
    top: 0;
    left: 10px; }
  #large-player .end-time {
    top: 0;
    right: 10px; }

.player-button {
  width: 42px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10; }
  .player-button svg {
    fill: white;
    width: 21px;
    height: 21px; }
  .player-button.rewind {
    transform: scaleX(-1); }

#play svg:first-child {
  transform: translateX(2px); }

#fast-forward, #rewind {
  width: 24px;
  height: 24px;
  margin: 0 5px; }
  #fast-forward svg, #rewind svg {
    width: 12px;
    height: 12px; }

#rewind {
  transform: rotate(180deg); }

#scrub-wrap {
  transform: translateY(-15px);
  width: 100%; }

#timecode-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  padding: 0 10px; }

#scrubber {
  -webkit-appearance: none;
  width: 100%; }
  #scrubber::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 32px;
    background: #CF155B;
    margin-top: 0;
    transform-origin: 50% 0 0;
    transition: all 0.2s;
    background-clip: padding-box;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; }
  #scrubber::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #252525;
    border-top: 2px solid #CF155B; }
  #scrubber:focus {
    outline: none; }

#song-info {
  display: block; }

#side-bar {
  width: 20%;
  height: 100%;
  background-color: #252525;
  padding: 5px 0;
  float: left; }
  #side-bar p {
    text-align: center;
    padding: 15px 0; }
  #side-bar ul {
    border-top: 1px solid #3f3f3f;
    padding-top: 5px; }
    #side-bar ul li {
      font-size: 0.8em;
      padding: 10px;
      display: flex;
      align-items: center;
      transition: all 0.2s; }
      #side-bar ul li:active {
        background-color: #4b4b4b; }
        #side-bar ul li:active span {
          border-bottom: 1px solid white; }
      #side-bar ul li.active {
        background-color: #CF155B; }
        #side-bar ul li.active span {
          border-bottom: 1px solid white; }
      #side-bar ul li svg {
        fill: white;
        width: 16px;
        height: 16px;
        margin-right: 10px; }
      #side-bar ul li span {
        border-bottom: 1px solid #3f3f3f;
        width: calc(100% - 16px);
        display: inline-block;
        padding: 5px; }

.window-content {
  float: left;
  width: 80%;
  height: 100vh;
  overflow: hidden; }

#bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s; }

#backButton {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 25;
  padding: 5px 15px;
  transition: all 0.2s; }
  #backButton svg {
    fill: white;
    height: 28px;
    width: 28px; }

#main-menu .clock {
  font-weight: 100;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #main-menu .clock h1 {
    font-size: 3em;
    margin-bottom: 12px; }

#main-menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  padding: 10px 0;
  border-radius: 5px; }

.menu-button {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #252525;
  border-radius: 5px; }
  .menu-button:nth-child(1) {
    margin-left: 10px; }
  .menu-button:nth-last-child {
    margin-right: 10px; }
  .menu-button:active {
    background-color: #6E85FA; }

#music-list {
  overflow: auto; }

.list-view {
  padding: 25px 15px 0 15px; }
  .list-view h2 {
    margin-bottom: 10px;
    display: inline-block; }
    .list-view h2::first-letter {
      text-transform: uppercase; }
  .list-view table {
    width: 100%;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 50px; }
  .list-view tr {
    transition: all 0.2s; }
    .list-view tr:active {
      background-color: #CF155B; }
    .list-view tr:first-child {
      margin-bottom: 15px; }
    .list-view tr.album-row td {
      height: 35px; }
  .list-view th {
    text-align: left;
    font-weight: 100;
    font-size: 0.65em; }
  .list-view td {
    font-size: 0.8em;
    border-bottom: 1px solid #323232;
    transition: all 0.2s;
    position: relative;
    overflow: hidden; }
    .list-view td.details {
      width: 10%;
      text-align: right; }
      .list-view td.details svg {
        width: 12px;
        height: 12px;
        fill: white;
        margin-right: 5px; }
    .list-view td .background-image {
      position: absolute;
      z-index: 1;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      .list-view td .background-image img {
        width: 100%;
        -webkit-filter: blur(20px); }
    .list-view td .song-info {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 10px;
      width: 100%; }
  .list-view td, .list-view th {
    padding: 10px; }
    .list-view td.duration, .list-view th.duration {
      text-align: right; }
  .list-view small {
    font-size: 0.7em; }
  .list-view.playing {
    height: calc(100% - 100px); }

.list-info {
  float: right; }

div[class^='sub'] {
  width: 100%; }

.music-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px; }
  .music-header img {
    margin-right: 15px; }

#settings {
  padding: 12px; }
  #settings button {
    font-size: 1em;
    margin-top: 10px;
    background: #CF155B;
    padding: 10px;
    color: white;
    border: none; }
  #settings table {
    margin: 15px 0;
    width: 100%; }
    #settings table th {
      text-transform: capitalize;
      padding: 10px 0;
      text-align: left;
      font-size: 1.5em;
      font-weight: 100; }
    #settings table td {
      padding: 5px 10px;
      border: 1px solid #4b4b4b; }
      #settings table td:nth-child(1) {
        background-color: #4b4b4b; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
