* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  position: relative; }

section:not(#splash) {
  padding: 8% 2em; }

a {
  text-decoration: none;
  color: #CF155B;
  font-weight: 700; }
  a:hover {
    color: #76d0eb; }

ol li {
  margin-bottom: 10px; }

.non-mobile {
  display: block; }

.mobile-only {
  display: none; }

.title {
  text-align: center;
  display: block;
  margin: 24px auto; }

.button {
  background-color: #76d0eb;
  color: white;
  border-radius: 5px;
  padding: 1em 2em;
  display: block;
  text-align: center;
  margin-top: 2em;
  border: 2px solid #33b9e1;
  transition: all 0.2s; }
  .button:hover {
    background-color: #33b9e1;
    color: white;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-4px); }

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  font-weight: 300;
  padding: 5px 15px; }

.logo {
  margin-top: 0;
  margin-left: 25px; }
  .logo a {
    color: white; }

#splash {
  width: 100%;
  padding: 5% 0;
  background: #76d0eb url("../images/skulls-blue.png"); }
  #splash img {
    margin: 0 auto;
    display: block;
    border-radius: 5px; }

#picture {
  margin: 0 auto; }

#about {
  position: relative;
  overflow: hidden; }

#how {
  background-color: #1d5671;
  color: white; }

#how-presentation {
  overflow: hidden; }
  #how-presentation .how-icon {
    margin: 0 18px; }

.how-info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .how-info:nth-child(even) {
    flex-direction: row-reverse; }

@media screen and (min-width: 1200px) {
  #how h1 {
    margin-bottom: 5%; }
  #how ul {
    list-style: none;
    font-size: 1.2em;
    font-weight: 400; }
    #how ul li:nth-child(even) {
      text-align: right; } }

@media screen and (max-width: 375px) and (orientation: portrait) {
  .non-mobile {
    display: none; }
  .mobile-only {
    display: block; }
  #splash .mobile-only a {
    color: white; } }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }
