* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  position: relative; }

section:not(#splash) {
  padding: 8% 0; }

a {
  text-decoration: none;
  color: #0c4556; }
  a:hover {
    color: #76d0eb; }

ol li {
  margin-bottom: 10px; }

.non-mobile {
  display: block; }

.mobile-only {
  display: none; }

.background-image {
  position: absolute;
  top: -50%;
  left: -5%;
  z-index: 2;
  width: 110%; }
  .background-image img {
    width: 100%;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px); }

.foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3; }

.title {
  text-align: center;
  display: block;
  margin: 24px auto; }

.button {
  border: 2px solid gray;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 24px;
  transition: all 0.3s;
  position: relative;
  z-index: 2; }
  .button a {
    color: gray;
    font-weight: 400; }
  .button:active {
    background-color: #76d0eb;
    color: white; }
  .button:hover {
    background-color: #76d0eb;
    border-color: #33b9e1;
    cursor: pointer; }
    .button:hover a {
      color: white; }
    .button:hover::after {
      opacity: 1; }
  .button::after {
    opacity: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    border-radius: 5px;
    z-index: 1; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  font-weight: 300;
  padding: 5px 15px; }

.logo {
  margin-top: 0;
  margin-left: 25px; }
  .logo a {
    color: white; }

#splash {
  width: 100%;
  padding: 5% 0;
  background: #76d0eb url("../images/skulls-blue.png"); }
  #splash img {
    margin: 0 auto;
    display: block;
    border-radius: 5px; }

#picture {
  margin: 0 auto; }

#about {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: white; }

#how {
  background-color: #8c8c8c;
  color: white; }

#how-presentation {
  overflow: hidden; }
  #how-presentation .how-icon {
    margin: 0 18px; }

.slide-in-info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .slide-in-info:nth-child(even) {
    flex-direction: row-reverse; }

@media screen and (min-width: 1200px) {
  #how h1 {
    margin-bottom: 5%; }
  #how ul {
    list-style: none;
    font-size: 1.2em;
    font-weight: 400; }
    #how ul li {
      margin-bottom: 10%; }
      #how ul li.shown {
        color: green; }
      #how ul li:nth-child(even) {
        text-align: right; } }

@media screen and (max-width: 375px) and (orientation: portrait) {
  .non-mobile {
    display: none; }
  .mobile-only {
    display: block; }
  #splash .mobile-only a {
    color: white; } }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }
